<div id="login">
					<h1 class="tab">How to Join</h1>
					<div class="innercontent clearfix">
    				  <div class="innercontent body">
                          <h1>How To Join Bay Ridge FCU</h1>
                          <p>
                          	At a credit union you &quot;join&quot; the credit union, and become a &quot;member&quot;.  
                            It's easy. You can do this in one of two ways:
                          </p>
                          <p>
                            (MY SERVER REMOVED FOR VALIDATION)
                          </p>
                          <p><%= link_to "Applying and being approved for a loan", new_loanapp_path %>.
                            Or, by <%= link_to "opening a savings account", new_memberapp_path %> with either cash, 
                            check, or through a payroll deduction.
                          </p>
                          <p>
                            (Please note: there is no benefit to becoming a member and opening an account 
                            before you apply for a loan. So if it's a loan you'd like, let us know right away and we'll 
                            speed up the process for you. At the same time you are approved for the loan you'll become a 
                            member and open your account.)
                          </p>
                          <h1>Membership Eligibility</h1>
                          <p>Bay Ridge Federal Credit Union is proud to serve members / employees 
                            of some of the most prestigious and diverse groups in the metropolitan 
                            area, including:
                          </p>
                          <h2>Liberty Association of NY</h2>
                          <ul>
                            <li> All City</li>
                            <li>Big Apple Car</li>
                            <li>Charge &amp; Ride</li>
                            <li>Communicar</li>
                            <li>Concord Limousine, Inc.</li>
                            <li>Dial Car, Inc.</li>
                            <li>Executive Charge, Inc.</li>
                            <li>IntaBoro</li>
                            <li>Vital Transportation, Inc.</li>
                            <li>XYZ Two Way Radio Service</li>
                          </ul>
                          <h2>Schools</h2>
                          <ul>
                            <li>Adelphi Academy</li>
                            <li>Saint Athanasius R.C. Church</li>
                            <li>St. Patrick's School</li>
                            <li>The Guild for Exceptional Children</li>
                          </ul>
                          <h2>Community Organizations</h2>
                          <ul>
                            <li>Bay Ridge Volvo-Honda Group</li>
                            <li>Bay Ridge Comm Svc Center</li>
                            <li>Bay Ridge Consumer Federation</li>
                            <li>Bravo Vol. Ambulance Svc.</li>
                            <li>Brooklyn Economic Devel. Corp.</li>
                            <li>HealthPlus</li>
                            <li>HeartShare</li>
                            <li>Margaret Tietz Nursing &amp; Rehab</li>
                            <li>Metropolitan Detention Center</li>
                          </ul>
                          <h2>Intl Longshoreman's Association</h2>
                          <ul>
                            <li>ILA Local 824</li>
                            <li>ILA Local 958</li>
                            <li>ILA Local 976</li>
                            <li>ILA Local 1171</li>
                            <li>ILA Local 1277</li>
                            <li>ILA Local 1716</li>
                            <li>ILA Local 1814</li>
                            <li>American Sugar</li>
                            <li>American Warehousing</li>
                            <li>American Stevedoring</li>
                            <li>Duro Bag</li>
                            <li>Jetro</li>
                            <li>Industrial Acoustics</li>
                          </ul>
                          <h2>Community Districts</h2>
                          <ul>
                            <li>Brooklyn Community District 7</li>
                            <li>Brooklyn Community District 10</li>
                            <li>Brooklyn Community District 11</li>
                            <li>Brooklyn Community District 13</li>
                            <li>Brooklyn Community District 15</li>
                          </ul>
                          <p>
                          	This list is not all-inclusive and represents just a sampling of the groups 
                            we serve. Contact us if you think you are eligible for membership, or if you 
                            are an employer interested in offering the benefit of credit union membership 
                            to your employees.
                          </p>
                          <h1>Family Membership</h1>
                          <p> If you are a credit union member, your immediate family may also join. 
                            (Immediate family includes the spouse, children, parents, brothers, sisters, 
                            grandparents, and grandchildren.) Also, household members sharing living 
                            expenses with a member are eligible to join.
                          </p>
                          <h1>Customer Identification Program Policy</h1>
                          <p>
                          	Important Information about Procedures for Opening a New Account:
                          </p>
                          <p>
                          	To help the government fight the funding of terrorism and money laundering 
                            activities, Federal law requires all financial institutions to obtain, verify, 
                            and record information that identifies each person who opens an account.
                          </p>
                          <p>
                          	What this means for you: When you open an account, we will ask for your name, 
                            address, date of birth, and other information that will allow us to identify you. 
                            We will also ask to see your driver's license or other identifying documents.
                          </p>
                          <p>In all cases, protection of our customer's identity and confidentiality is our pledge 
                            to you.
                          </p>
                      </div>
                  </div>
                 <h1 class="tabbottom"><%= link_to "Back", "javascript: history.back();", :class => "backbottomlink" %></h1>
				</div>