<div id="login">
					<h1 class="tab">About Us</h1>
					<div class="innercontent clearfix">
    				   <div class="innercontent body">
                       <h1>The Story of our Credit Union</h1>                          
                       <p>
                        	In 1934, during the Great Economic Depression, most people were struggling to find 
                            a better way of life.  It was impossible for people of modest means to gain access 
                            to bank credit at that time: a time when access to credit was necessary for people 
                          	to rise from the poverty of the Depression. 
                        </p>
                        <p>
                          	To help people help themselves, the U.S.Congress passed a new law  allowing groups of 
                            people to form <em>not-for-profit cooperatives</em>, called Credit Unions, to promote 
                            savings among themselves, and provide easier access to credit for the members of their 
                            group.  That law was called the Federal Credit Union Act of 1934. 
                        </p>
                        <p>
                          	A small group of immigrants started our credit union in 1934.  Today, more than 70 years 
                            later, we serve the descendents and families of the original founders, together with 
                            thousands of new members who joined our credit union over the years. 
                        </p>
                        <p>
                          	The money the members deposit to their federally insured savings accounts at the credit union 
                            is the source of our low rate loans.  The earnings on those loans are distributed back to the 
                            savers in the form of higher dividends than paid by other federally insured financial institutions.  
                            Credit union deposits are insured up to $250,000 by the federal government and backed by the full 
                            faith of the United States Treasury.
                        </p>
                        <p>
                          	 For more than 70 years we have continued to help people of modest means reach their 
                            financial goals with comfort and respect.  Our members include working people, small 
                            business owners, drivers and owners of NYC Taxicabs and &quot;Black Car&quot; Limousines, government 
                            employees, health care workers, immigrant families, senior citizens, as well as professional 
                            people form many different fields. 
                        </p>
                        <p>
                          	The credit union's affairs are under the overall direction of a Board of Directors elected 
                            by the membership.  Directors are volunteers and serve without compensation.  Several of our 
                            Directors are third generation descendents (grandchildren) of the original founders.  They are 
                            individuals who are each experienced and successful in various professional fields of their own; 
                            and who have demonstrated their dedication to our credit union. They have been trained in federal 
                            credit union oversight and participate in continuing education programs.  The Board determines the 
                            policies, goals, budgets, and strategic plans of the credit union; receives monthly reports from 
                            President/CEO; and reviews reports from our federal regulators, the National Credit Union 
                            Administration, and outside independent auditors. 
                        </p>
            			<p>
                          	Management of the credit union's day-to day business activities including directing our staff, 
                            facilities, financial operations, service to members, and compliance with pertinent government 
                            rules, regulations and laws, is under the direction of our President/CEO.  He reports to the 
                            Board of Directors. 
                        </p>
                        <p>
                          	Our Supervisory Committee reviews audit reports, compliance with federal credit union 
                            rules and regulations, and adherence with applicable laws and generally accepted accounting 
                            principles.  They watch over the operation of the credit union to make sure that everything 
                            is done in a correct, safe, sound, and authorized manner. 
                        </p>
         			    <p> 
                        	Since 1934 Bay Ridge Federal Credit Union has strived to accomplish a simple mission: 
                            To become community resource, and help more people of modest means in the community to 
                            have access to lower cost financial services.  As a not-for-profit cooperative&hellip;<strong>we are 
                            a part of America's Credit Unions, where <em>people</em> are worth more than money.</strong>
                        </p>
                    </div>
                </div>
                <p class="tabbottom"><%= link_to "Back", "javascript: history.back();", :class => "backbottomlink" %></p>
            </div>