<div id="login">
					<h1 class="tab">Directions</h1>
					<div class="innercontent clearfix">
    				  <div class="innercontent bodymargin">
                          <h1>Directions to our Credit Union </h1>
                            BAY RIDGE FEDERAL CREDIT UNION<br />
                            9000 FOURTH AVENUE<br />
                            BROOKLYN, NY  11209<br />
                            (718)  680-2121<br /><br />
                            <h4 class="center">Via CAR:</h4>
                          <h4 class="small">From Manhattan:</h4>
                          <ul>
                              <li>Take the Brooklyn Bridge or the Battery Tunnel to the Brooklyn-Queens 
                              	Expressway/Gowanas (RT. 278).</li>
                              <li>Follow signs to Verrazano Bridge and Staten Island.</li>  
                              <li>Exit at 86th Street * two exits before the bridge.</li>
                              <li>Take 86th Street Exit and <em>follow service road</em> to traffic light.</li>
                              <li><em>Make a right</em> onto 86th Street.</li>
                              <li>Go <em>three traffic lights</em> and <em>make a left</em> onto 4th Avenue.</li>
                              <li>Take 4th Avenue past 90th Street</li>
                              <li class="nobull">* you will see our building on the right corner.</li>
                              <li><em>Make a right</em> turn into the credit union's parking lot.</li>
                          </ul>
                          <h4 class="small">From NJ/Staten Island:</h4>
                          <ul>
                              <li>Take the Staten Island Expressway to the Verrazano Bridge.</li>
                              <li>Take the <em>lower level</em> of the bridge and <em>stay to the right</em>.</li>
                              <li>Exit at 92nd Street and <em>take the service road</em> to traffic light.</li>
                              <li>At the light <em>make a left</em> onto 92nd Street.</li>
                              <li>Take 92nd Street to 4th Avenue and <em>make a right</em>.</li>
                              <li>Take 4th Avenue to 90th Street (2 blocks).</li>
                              <li><em>Make a left</em> into the credit union's parking lot</li>
                              <li class="nobull">* just prior to 90th Street.</li>
                          </ul>
                          <p>&nbsp;</p>
                          <h4 class="small">From Queens:</h4>
                          <p>&nbsp;</p>
                          <ul>
                              <li>Take the Belt parkway West to Exit 2 (4th Avenue).</li>
                              <li class="nobull">* Exit leaves you on 4th Avenue and 102nd Street.</li> 
                              <li>Continue on 4th Avenue to 90th Street (12 blocks).</li>
                              <li><em>Make a left</em> into the credit union's parking lot</li>
                              <li class="nobull">* just prior to 90th Street.</li>
                          </ul>
                          <p>&nbsp;</p>
                          <h4 class="small">From Long Island:</h4>
                          <ul>
                              <li>Take the Southern State West to the Belt Parkway and follow the above directions 
                            from Queens.</li>
                              <li>-- OR --</li>
                              <li>Take the Long Island Expressway to the Brooklyn-Queens Expressway and 
                              follow the above directions from Manhattan.</li>
                          </ul>
                          <p>&nbsp;</p>
                          <h4 class="center">Via MASS TRANSIT:</h4>
                          <br />
                          <h4 class="small">From Manhattan:</h4>
                          <p>&nbsp;</p>
                          <ul>
                              <li>Take the R train to Brooklyn.</li>
                              <li>Get off at the 86th Street station.</li>
                              <li class="nobull">* You will be on 86th Street and 4th Avenue.</li>
                              <li>Walk <em>four blocks</em> to 90th Street</li>
                              <li>Our building is on the corner of 90th Street and 4th Avenue.</li>
                          </ul>
                          <p>&nbsp;</p>
                          <h4 class="small">From Long Island:</h4>
                          <p>&nbsp;</p>
                          <ul>
                              <li>Take the LIRR to Atlantic Avenue.</li>
                              <li>Transfer to the R going to Bay Ridge.</li>
                              <li>Get off at the 86th Street station.</li>
                              <li class="nobull">* You will be on 86th Street and 4th Avenue.</li>
                              <li>Walk <em>four blocks</em> to 90th Street.</li>
                              <li>Our building is on the corner of 90th Street and 4th Avenue.</li>
                          </ul>
                          <p>&nbsp;</p>
                          <h4 class="small">From New Jersey:</h4>
                          <p>&nbsp;</p>
                          <ul>
                              <li>Take the PATH to the World Trade Center.</li>
                              <li>Transfer to the R going to Brooklyn.</li>
                              <li>Get off at the 86th Street station.</li>
                              <li class="nobull">* You will be on 86th Street and 4th Avenue.</li>
                              <li>Walk <em>four blocks</em> to 90th Street.</li>
                              <li>Our building is on the corner of 90th Street and 4th Avenue.</li>
                          </ul>
                          <p>&nbsp;</p>
                          <h4 class="small">From Staten Island:</h4>
                          <ul>
                              <li>Take the S53 or the S79 to Brooklyn.</li>
                              <li>Get off at the last stop - 86th Street.</li>
                              <li class="nobull">* You will be on 86th Street and 4th Avenue.</li>
                              <li>Walk <em>four blocks</em> to 90th Street.</li>
                              <li>Our building is on the corner of 90th Street and 4th Avenue.</li>
                          </ul>
                          <p>&nbsp;</p>
                          <h4 class="small">Bus Lines:</h4>
                          <p>&nbsp;</p>
                          <ul>
                              <li>We are easily accessible from the following bus lines: <br />
                              B64, B63, B37, B16, and the B8.</li>
                          </ul>
                      </div>
                    </div>
                  <h1 class="tabbottom"><%= link_to "Back", "javascript: history.back();" %></h1>
				</div>