<p align="center"><font face="Verdana"><b>EQUAL HOUSING LENDER NOTICE</b></font></p>
<p align="center"><font face="Verdana"><%= image_tag "ehl.gif" %><br>
</font><font face="Verdana"><font size="2">We Do Business in Accordance With<br>
Federal Fair Lending Laws</font></font></p>
<p align="center"><font face="Verdana"><font size="2">UNDER THE FEDERAL FAIR HOUSING ACT, IT IS ILLEGAL, ON THE BASIS OF RACE, COLOR, NATIONAL<br>
ORIGIN, RELIGION, SEX, HANDICAP, OR FAMILIAL STATUS (HAVING CHILDREN UNDER THE AGE OF 18), TO:</font></font></p>
<div align="center">
  <table border="0" width="60%">
    <tr>
      <td width="100%">
        <ul>
          <li>
            <p align="left"><font size="2" face="Verdana">Deny a loan for the purpose of purchasing, constructing, improving, repairing or maintaining a dwelling, or deny any loan secured by a dwelling; or</font></li>
          <li>
            <p align="left"><font size="2" face="Verdana">Discriminate in fixing the amount, interest rate, duration, application procedures or other terms or conditions of such a loan, or in appraising property</font></li>
        </ul>
      </td>
    </tr>
  </table>
</div>
<p align="center"><font face="Verdana"><font size="2"><b>IF YOU BELIEVE YOU HAVE BEEN DISCRIMINATED AGAINST, YOU SHOULD SEND A COMPLAINT TO:</b><br>
Assistant Secretary for Fair Housing and Equal Opportunity<br>
Department of Housing &amp; Urban Development<br>
Washington, DC 20410</font></font></p>
<p align="center"><font face="Verdana"><font size="2"><i>For processing under the Federal Fair Housing Act and to:<br>
</i>National Credit Union Administration<br>
Office of Examination and Insurance<br>
1775 Duke St., Alexandria, VA  22314-3428<br>
For processing under NCUA regulations</font></font></p>
<p align="center"><font size="2" face="Verdana"><b>UNDER THE EQUAL CREDIT OPPORTUNITY ACT, IT IS ILLEGAL TO DISCRIMINATE IN ANY CREDIT TRANSACTION:</b></font></p>
<div align="center">
  <center>
  <table border="0" width="60%">
    <tr>
      <td width="100%">
        <ul>
          <li><font size="2" face="Verdana">On the basis of race, color, national origin, religion, sex, marital status, or age,</font></li>
          <li><font size="2" face="Verdana">Because income is from public assistance, or&nbsp;</font></li>
          <li><font size="2" face="Verdana">Because a right was exercised under the Consumer Credit Protection Act.</font></li>
        </ul>
      </td>
    </tr>
  </table>
  </center>
</div>
<p align="center"><font face="Verdana" size="2"><b>IF YOU BELIEVE YOU HAVE BEEN DISCRIMINATED AGAINST, YOU SHOULD SEND A COMPLAINT TO:<br>
</b>National Credit Union Administration<br>
Office of Examination and Insurance<br>
1775 Duke St., Alexandria, VA  22314-3428<br>
<br>
&lt;&lt; <%= link_to "Close Window", "javascript: window.close();" %> >></font></p>