<div id="login">
				  <h1 class="tab">Frequently Asked Questions</h1>
					<div class="innercontent clearfix">
    				  <div class="innercontent body">
                        <h1>Frequently Asked Questions</h1>
                        <p>Frequently Asked Questions</p>
                  	  </div>
                    </div>
                  <h1 class="tabbottom"><%= link_to "Back", "javascript: history.back();", :class => "backbottomlink" %></h1>
				</div>