<div id="index">
					<h1 class="tab">BAY RIDGE FEDERAL CREDIT UNION</h1>
					<div class="innercontent clearfix">
						<div class="innerleft">
							<div class="innerad">
								<%= javascript_include_tag "ad" %>
                                <p class="smallprint centertext"><strong>Important Account Notice Regarding an Update to the Federal Reserve Regulation GG - Unlawful Internet Gambling Enforcement Act of 2006 
                                <br />
                                <br />
                                Internet Gambling Transactions</strong><br />
                                You may not use your Bay Ridge Federal Credit Union account in connection with any business of placing, receiving, or otherwise knowingly transmitting bets or wagers by any means which involves the use, at least in part, of the internet, or for any other transaction which is prohibited by Federal Reserve 
                                Regulation GG - Unlawful Internet Gambling Act of 2006.</p>
							</div>	
						</div>
						<div class="innerright">
							<ul>
								<li class="hb">
									<%= link_to "Home Banking Login", hbloginv3_2_path %>
									<%= link_to "Home Banking Login", hbloginv3_2_path, :class => "image" %>
									<p>
										Enter now to discover the fast, convenient access 
										available through Bay Ridge Federal Credit Union&#39;s Home Banking.
									</p>
								</li>
								<li class="warning">
									<h3>Attention:</h3>
									<p>
										Bay Ridge FCU will never ask for Financial or account information Via 
										E-mail or Automated phone call.&nbsp; If you receive a request in this 
										manner DO NOT RESPOND!&nbsp; We do not share our internal database 
										lists with anyone and and have security in place to ensure that 
										they are not being accessed.
									</p>
								</li>
									<%= javascript_include_tag "closings" %>
							</ul>
						</div>
					</div>
				</div>