<div id="login">
					<h1 class="tab">BAY RIDGE FEDERAL CREDIT UNION</h1>
					<div class="innercontent clearfix">
                    	<div class="innercontent bodymarginnarrow">
                          <p class="centertext"> 
                              <%= link_to "Savings Rates", :anchor => "savings" %> | 
                              <%= link_to "Insured Investment Certificate Rates", :anchor => "investment" %></p>
                          <a name="savings" class="normallink" id="savings"></a><h5>Savings Rates</h5>
                            <table class="rates">
                                 <tr>
                                    <td class="lightblue">Term or Type</td>
                                    <td class="lightblue">Annual<br />Percentage<br />Rate (APR)</td>
                                    <td class="lightblue">Minimum</td>
                                    <td class="lightblue">Minimum</td>
                                </tr>
                                 <tr>
                                    <th colspan="4">Regular Savings (Shares)</th>
                                </tr>
                                 <tr>
                                    <td>&nbsp;</td>
                                    <td>0.50%</td>
                                    <td>0.50%</td>
                                    <td>$100</td>
                                </tr>
                                 <tr>
                                    <th colspan="4">Automatic Savings (Direct Deposit)</th>
                                </tr>
                                 <tr>
                                    <td>&nbsp;</td>
                                    <td>0.75%</td>
                                    <td>0.75%</td>
                                    <td>No Minimum</td>
                                </tr>
                                 <tr>
                                    <th colspan="4">Insured Money Market Account</th>
                                </tr>
                                 <tr>
                                    <td class="left">Regular</td>
                                    <td>0.75%</td>
                                    <td>0.75%</td>
                                    <td>$2,000+</td>
                                </tr>
                                 <tr>
                                    <td class="left">Bonus</td>
                                    <td>1.00%</td>
                                    <td>0.99%</td>
                                    <td>$20,000+</td>
                                </tr>
                                 <tr>
                                    <td class="left">Jumbo</td>
                                    <td>1.25%</td>
                                    <td>1.24%</td>
                                    <td>$100,000+</td>
                                </tr>
                                 <tr>
                                    <th colspan="4">IRA Money Market</th>
                                </tr>
                                 <tr>
                                    <td>&nbsp;</td>
                                    <td>1.00%</td>
                                    <td>0.99%</td>
                                    <td>No Minimum</td>
                                </tr>
                                 <tr>
                                    <td colspan="4" class="smallprint">*Rates and Terms are subject to change without notice.<br />
                            			Rates shown are effective as of 09/02/2010</td>
                                </tr>
                            </table>
                            <a name="investment" id="investment"></a><h5>Insured Investment Certificate Rates</h5>
                            <table class="rates">
                                 <tr>
                                    <td class="lightblue"> Term or Type</td>
                                    <td class="lightblue"> Annual<br /> Percentage<br /> Yield (APY)</td>
                                    <td class="lightblue"> Annual<br /> Percentage<br /> Rate (APR)</td>
                                    <td class="lightblue"> Minimum</td>
                                 </tr>
                                 <tr>
                                    <th colspan="4">6 Months</th>
                                 </tr>
                                 <tr>
                                    <td class="left">Regular</td>
                                    <td>1.00%</td>
                                    <td>0.99%</td>
                                    <td>$2,500</td>
                                 </tr>
                                 <tr>
                                    <td class="left">Bonus $20,000+</td>
                                    <td>1.25%</td>
                                    <td>1.24%</td>
                                    <td>$2,500</td>
                                 </tr>
                                 <tr>
                                    <th colspan="4">1 Year</th>
                                 </tr>
                                 <tr>
                                    <td class="left">Regular</td>
                                    <td>1.00%</td>
                                    <td>0.99%</td>
                                    <td>$500</td>
                                 </tr>
                                 <tr>
                                    <td class="left">Bonus $20,000+</td>
                                    <td>1.25%</td>
                                    <td>1.24%</td>
                                    <td>$500</td>
                                 </tr>
                                 <tr>
                                    <th colspan="4">2 Year</th>
                                 </tr>
                                 <tr>
                                    <td class="left">Regular</td>
                                    <td>1.25%</td>
                                    <td>1.24%</td>
                                    <td>$500</td>
                                 </tr>
                                 <tr>
                                    <td class="left">Bonus $20,000+</td>
                                    <td>1.50%</td>
                                    <td>1.49%</td>
                                    <td>$500</td>
                                 </tr>
                                 <tr>
                                    <th colspan="4">3 Year</th>
                                 </tr>
                                 <tr>
                                    <td class="left">Regular</td>
                                    <td>1.50%</td>
                                    <td>1.49%</td>
                                    <td>$500</td>
                                 </tr>
                                 <tr>
                                    <td class="left">Bonus $20,000+</td>
                                    <td>1.75%</td>
                                    <td>1.73%</td>
                                    <td>$500</td>
                                 </tr>
                                 <tr>
                                    <th colspan="4">4 Year</th>
                                 </tr>
                                 <tr>
                                    <td class="left">Regular</td>
                                    <td>2.50%</td>
                                    <td>2.47%</td>
                                    <td>$500</td>
                                 </tr>
                                 <tr>
                                    <td class="left">Bonus $20,000+</td>
                                    <td>2.75%</td>
                                    <td>2.71%</td>
                                    <td>$500</td>
                                 </tr>
                                 <tr>
                                    <th colspan="4">5 Year</th>
                                 </tr>
                                 <tr>
                                    <td class="left">Regular</td>
                                    <td>2.75%</td>
                                    <td>2.71%</td>
                                    <td>$500</td>
                                 </tr>
                                 <tr>
                                    <td class="left">Bonus $20,000+</td>
                                    <td>3.00%</td>
                                    <td>2.96%</td>
                                    <td>$500</td>
                                 </tr>
                                 <tr>
                                    <th colspan="4">ALL IRA CD's</th>
                                 </tr>
                                 <tr>
                                    <td colspan="4">Earn the Bonus yield/rates above with <strong>no</strong> minimum deposit.</td>
                                 </tr>
                                 <tr>
                                    <td class="smallprint" colspan="4"> *Rates and Terms are subject to change without notice.<br />
                                        Rates shown are effective as of
                                        03/15/2010</td>
                                </tr>
                            </table>
                   	  </div>
                    </div>
                    <h1 class="tabbottom"><%= link_to "Back", "javascript: history.back();", :class => "backbottomlink" %></h1>
				</div>